ol {
    display: flex;
}
a {
    color: white;
}
a:hover {
    color: rgb(118, 161, 224);
    text-decoration: none;
}
ol li {
    list-style-type: none;
    margin: auto 15px auto 15px;
}
ol li:nth-child(5) {
    margin-left: auto;
}
.menu {
    background-color: rgb(35, 78, 143);
    height: 60px;
    padding-top: 10px;
}
li img {
    width: 40px;
}
span {
    font-size: 18px;
}
.content img {
    width: 140px;
    float: left;
    margin-right: 15px;
}
.ago {
    text-align: end;
    color: gray;
    margin-top: 6px;
}
 .button a {    
    background-color: gray;
    color: white;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
}
.button a:hover {
    background-color: rgb(187, 187, 187);
}

.content {
    border: 1px solid rgb(224, 222, 222);
    padding: 10px 15px;
}
h1 {text-align: center;
    border-bottom: 1px solid rgb(235, 232, 232);
    padding-bottom: 15px;
}
h2 {
    text-align: center;
    padding: 10px;
}
h5 {
    float: left;
    margin-top: 6px;
}
ul   {
    display: grid;
    grid-template-columns: 30% 15% 30%;
    grid-column-gap: 40px;
    padding: 0px;
    margin: 0px;
}
ul li {
    list-style-type: none;
    margin-top: 10px;
}
.right {
    text-align: end;
}

.attended {
    border: 1px solid rgb(224, 222, 222);
    padding: 5px 10px;
}
.data {
    border: 1px solid rgb(224, 222, 222);
    padding: 5px 10px;
}
.right::after, .right::before {
    content: '';
    position: absolute;
    right: 355px;
    margin-top: -5px;
    border: 18px solid transparent;
    border-left: 20px solid rgb(224, 222, 222);
}
.right::after {
    border-left: 20px solid white;
    right: 357px;
}
.left::after, .left::before {
    content: '';
    position: absolute;
    right: 232px;
    margin-top: -5px;
    border: 18px solid transparent;
    border-right: 20px solid rgb(224, 222, 222);
}
.left::after {
    border-right: 20px solid white;
    right: 230px;
}
.bolt {
    font-weight: bold;
}