ol {
    display: flex;
    color: rgb(230, 251, 255);
}
ol li {
    list-style-type: none;
    margin: auto 15px auto 15px;
}
ol li:nth-child(5) {
    margin-left: auto;
}
.menu {
    background-color: rgb(35, 78, 143);
}
li img {
    width: 40px;
}
span {
    font-size: 18px;
}
.content img {
    width: 90px;
    float: left;
    margin-right: 15px;
}
.ago {
    text-align: end;
    color: gray;
    margin-top: 6px;
}
.button input {
    background-color: gray;
    color: white;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    padding: 2px;

}
.content {
    border: 1px solid rgb(224, 222, 222);
    padding: 10px;
}
h1 {text-align: center;}
h2 {
    text-align: center;
}
h5 {
    float: left;
    margin-top: 6px;
}
ul   {
    display: grid;
    grid-template-columns: 30% 15% 30%;
    grid-column-gap: 40px;
    padding: 0px;
}
ul li {
    list-style-type: none;
}
.right {
    margin: 10px;
    text-align: end;
}
.left {
    margin: 10px;
}
.attended {
    border: 1px solid rgb(224, 222, 222);
    padding: 5px 10px;
}
.data {
    border: 1px solid rgb(224, 222, 222);
    padding: 5px 10px;
}
.right::after, .right::before {
    content: '';
    position: absolute;
    right: 365px;
    margin-top: -5px;
    border: 18px solid transparent;
    border-left: 20px solid rgb(224, 222, 222);
}
.right::after {
    border-left: 20px solid white;
    right: 367px;
}